@layer reset, yakuhan, fonts, page;

@import url('./acab_reset.css') layer(reset);
@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp.min.css") layer(yakuhan);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;600&family=Krona+One&family=Noto+Sans+JP:wght@300;400;700&display=swap') layer(fonts);

/*
font-family: 'Noto Sans JP' , sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Krona One', sans-serif;
*/

@layer page{
    /* general */
    :root {
        --color-darkNavy: rgba(22, 27, 34, 1);
        --color-white: #f3f3f3;
        --color-teal: #6baf8d;
        --color-darkGray: #232e33;
        --font-size-S: 2cqw;
        --font-size-M: 3cqw;
        --font-size-L: 5cqw;
        --font-weight-thin: 100;
        --font-weight-medium: 300;
        --font-weight-bold: 600;
        --font-family-heading: 'Krona One', 'Noto Sans JP', cursive;
        /* cursiveにfont-feature-settingsが効かないので調整 */
        --letter-spacing-heading: -0.04em;
        --width-inner: min(100%, 960px);
        --header-height: 100px;
        --scrollbar-size: 10px;
        scroll-behavior: smooth;
        /* ページ内スクロール時の高さ調整 */
        scroll-padding-top: var(--header-height);
    }

    body {
        margin: 0 auto;
        font-family: YakuHanJP, 'IBM Plex Sans' ,'Noto Sans JP' , sans-serif;
        font-feature-settings: "palt";
        color: var(--color-white);
        background-color: var(--color-darkNavy);
        scrollbar-color: var(--color-teal) var(--color-darkGray);
    }
    /* 効いてないかも */
    dialog{
        scrollbar-color: var(--color-teal) 
        var(--color-darkGray);
    }

    body::-webkit-scrollbar {
        width: var(--scrollbar-size);
    }

    body::-webkit-scrollbar-track {
        background: var(--color-darkGray);
        border-radius: 1px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--color-teal);
        border-radius: 1px;
    }

    h1,h2,h3,p{
        width: fit-content;
    }

    p{
        line-height: 2;
        text-align: justify;
        
    }

    a{
        color: inherit;
        text-decoration: underline;
        text-decoration-color: inherit;
        text-underline-offset: 0.3ex;
    }

    button {
        background-color: transparent;
        border: none;
        font-size: inherit;
    }

    header{
        position: fixed;
        inset: 0 0 auto;
        z-index: 3;
        width: 100%;
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
        border-bottom: solid 1px var(--color-white);
        backdrop-filter: blur(0.4cqw);
        background-color: rgba(22, 27, 34, 0.8);
    }

    header .headerInner{
        container-type: inline-size;
        display: grid;
        grid-template: 1fr / 1fr max-content;
        justify-content: center;
        align-items: center;
        width: var(--width-inner);
        height: var(--header-height);
        margin: auto;
        font-size: var(--font-size-M);
    }

    header .headerInner h1{
        font-size: var(--font-size-M);
    }

    header .headerInner nav{
        display: grid;
        grid-template: 1fr / repeat(3, max-content);
        grid-column-gap: 1em;
        font-size: var(--font-size-M);
    }

    header .headerInner nav > *{
        color: var(--color-white);
        text-decoration: underline;
        text-underline-offset: 0.3ex;
    }

    #contactDialog{
        width: 95cqw;
        height: auto;
        max-height: 90vh;
        margin: auto;
        overflow: hidden;
    }

    #contactDialog::backdrop{
        background: rgba(0, 0, 0, 0.7);
    }

    #contactDialog .contactDialogInner{
        position: relative;
        width: 100%;
        height: 100%;
    }

    #contactDialog .contactDialogInner .contactDialogClose{
        position: absolute;
        inset: 0 0 auto auto;
        width: 6em;
        height: 6em;
        border: none;
        padding-top: 3em;
        font-size: 1cqw;
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
        background-color: var(--color-darkNavy);
        border-radius: 10%;
        cursor: pointer;
    }

    #contactDialog .contactDialogInner .contactDialogClose span,
    #contactDialog .contactDialogInner .contactDialogClose span::after{
        content: "";
        position: absolute;
        inset: 0;
        width: 2.5em;
        height: 1px;
        background-color: var(--color-white);
    }

    #contactDialog .contactDialogInner .contactDialogClose span {
        inset: 2em 1.7em auto auto;
        transform: rotate(45deg);
    }

    #contactDialog .contactDialogInner .contactDialogClose span::after {
        transform: rotate(-95deg);
    }

    #contactDialog #contactDialogIframe{
        width: 100%;
    }

    /* 遅延表示 クラスはdelayedVisibility.jsで操作*/
    .delayedItem {
        opacity: 0;
        will-change: opacity
    }
    
    .delayedItem.isVisible {
        opacity: 1;
        transition: 0.5s;
    }

    .delayedItem.isVisible[data-delay="500"]{
        transition-delay: 500ms;
    }

    .delayedItem.isVisible[data-delay="1000"]{
        transition-delay: 1000ms;
    }

    main{
        container-type: inline-size;
        width: var(--width-inner);
        margin: auto;
        /* ヘッダーの高さ分ずらす */
        padding-top: var(--header-height);
    }

    main .contactDialogOpen{
        width: 50%;
        padding: 0.5em;
        font-size: var(--font-size-L);
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
        color: var(--color-darkNavy);
        background-color: var(--color-white);
        transition-duration: 0.5s;
    }

    main .contactDialogOpen:hover{
        color: var(--color-white);
        background-color: var(--color-teal);
        opacity: 0.9;
    }

    /* navからのスクロール調整 */
    section:is(#skills,#projects){
        scroll-margin-top: 5cqw;
    }

    section{
        container-type: inline-size;
        width: 100%;
        margin-bottom: 20cqw;
    }

    section h2{
        margin-bottom: 1em;
        font-size: var(--font-size-L);
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
    }

    section h3{
        margin-bottom: 0.5em;
        font-size: var(--font-size-M);
        line-height: 1.7;
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
    }

    section p{
        font-size: var(--font-size-S);
    }

    /* unique */

    #fixedCircle{
        position: fixed;
        inset: auto -15vw -10vw auto;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        background:
            linear-gradient(0deg, rgba(255,121,0,1), rgba(195,69,69,0)),
            linear-gradient(162deg, rgba(255,255,255,1), rgba(255,0,255,0)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 74 74' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        mix-blend-mode: difference;
        opacity: 0.7;
        transition: 0.5s;
    }
    #fixedCircle.isFiltered{
        opacity: 0.05;
        transition: 1s;
        filter: hue-rotate(180deg);
    }

    #fv{
        margin-top: 10cqw;
    }

    #fv h1{
        margin-bottom: 2em;
        font-size: 80px;
        font-family: var(--font-family-heading);
        letter-spacing: var(--letter-spacing-heading);
        line-height: 1.8;
    }

    #fv h1 span:nth-child(1){
        margin-bottom: 1em;
    }

    #skills .skillWrap{
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
    }

    #skills .skill h3{
        margin-bottom: 0.5em;
    }

    #skills .skill ul{
        margin-bottom: 3em;
        font-size: var(--font-size-S);
        line-height: 1.7;
    }

    #projects .projectItems{
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        grid-column-gap: 5em;
        font-size: var(--font-size-S);
    }

    #projects .projectItems .projectItemInfo{
        margin-bottom: 2em;
    }

    #projects .projectItems .projectItemInfo > p{
        font-size: 1.3em;
    }

    #projects .projectItem{
        margin-bottom: 20cqw;
    }

    #projects .projectImage{
        margin-bottom: 5%;
        overflow: hidden;
    }

    #projects .projectImage img{
        transition: transform 0.5s ease;
    }

    #projects .projectImage:hover img{
        transform: scale(1.1);
    }


    #contact__form iframe{
        width: 100%;
        /* 高さが可変しないのでひとまず固定値を与える */
        /* height: 1000px; */
    }

    #contact__form iframe body > div > div{
        width: 100%;
    }

    @media (max-width: 960px) {
    /* @media (width <= 960px) { */
        :root {
            --font-size-S: 4cqw;
            --font-size-M: 7cqw;
            --font-size-L: 9cqw;
            --header-height: 18vw;
        }

        #contactDialog{
            width: 100%;
        }

        #contactDialog .contactDialogInner .contactDialogClose{
            inset: 0 0 auto auto;
            width: 10vw;
            height: 10vw;
            padding-top: 8%;
        }
    
        #contactDialog .contactDialogInner .contactDialogClose span,
        #contactDialog .contactDialogInner .contactDialogClose span::after{
            width: 7vw;
        }
    
        #contactDialog .contactDialogInner .contactDialogClose span {
            inset: 43% 16% auto auto;
        }

        main .contactDialogOpen {
            width: 100%;
        }

        body {
            margin: auto 5%;
        }

        #fixedCircle{
            width: 100vw;
            height: 100vw;
        }

        header{
            inset: auto 0 0;
            border-top: solid 1px var(--color-white);
            border-bottom: none;
        }

        header .headerInner{
            grid-template: 1fr 1fr / 1fr;
            width: 90%;
        }

        header .headerInner h1{
            margin-top: 0.5em;
            font-size: var(--font-size-S);
        }

        header .headerInner nav > * {
            margin-bottom: 0.4em;
            font-size: 6cqw;
        }
        /* ヘッダーが下部に固定されるため */
        main{
            padding: 0 0 var(--header-height);
        }

        section{
            margin-bottom: 20cqw;
        }

        /* navからのスクロール調整 */
        section:is(#skills,#projects){
            scroll-margin-top: -10cqw;
        }

        #fv{
            margin-top: 20cqw;
        }

        #fv h1{
            font-size: 14vw;
            margin-bottom: 1em;
            line-height: 1.3;
        }

        #skills .skillWrap{
            grid-template: repeat(2, max-content) / 1fr  1fr;
        }

        #projects .projectItems{
            grid-template: repeat(2, max-content) / 1fr;
        }

        #contact__form iframe{
            /* 高さが可変しないのでひとまず固定値を与える */
            /* height: 140cqw; */
        }


    }

}
